<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProductFile" value="\Xml\products.xml"/>
    <add key="CustomerFile" value="\Xml\customers.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="DBconnectionName"
         providerName="system.data.sqlclient"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AdventureWorks2017;Integrated Security=True;Connect Timeout=30;
         Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  
</configuration>